 
#{extends 'main.html' /}
#{set title:'Listing of #kopweb\'s denizens' /}
*{ Add (thus overwriting the original) bovan's stylesheet when css=true }*
#{if css}
#{set 'moreStyles'}
        #{stylesheet 'bovan.css' /}
#{/set}
#{/if}
<div id="grid-container">
	#{if people}
		<label for="filter">Filter: </label><input id="filter" name="filter" size="20" autofocus /> [ design:  <a href="@{bndex()}">b</a> <a href="@{cndex()}">c</a> ]
		<div id="wrap" class="filtered">
			#{list items:people, as:'person'}
			<a href="@{view(person.id)}">
#{if person.image.exists()}
			<div class="imageContainer left" style="background: url('@{userPhoto(person.id)}')">
#{/if} 
				#{else}
<div class="imageContainer left" style="background: url('@{'/public/images/missing.png'}')">
#{/else}
				<div class="description"><span class="nickname">${person.nick}</span><br /><span class="realname">${person.name}</span></div>
				
				#{if person.image.exists()}
					<img class="userimage" src="@{userPhoto(person.id)}" alt="${person.nick}" />
				#{/if} 
				#{else}
					<img class="userimage" src="@{'/public/images/missing.png'}" />
				#{/else}
				
			</div></a>
			#{/list}
		</div>
	#{/if}
		#{else}
	<p>Build more burrows</p>
		#{/else}
		</div>
	</div>
</div>
<script type="text/javascript" charset="${_response_encoding}">
$("#filter").keyup(function () {
    var filter = $(this).val();
    $("#wrap .description").each(function () {
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).parent().addClass("hidden");
        } else {
            $(this).parent().removeClass("hidden");
        }
    });
});

$(document).ready(function() {
    if (!("autofocus" in document.createElement("input"))) {
      $("#q").focus();
    }
});
</script>